html, body {
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  margin-top: auto;
}

header, main, footer {
  text-align: center;
}

.donors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header, main, footer {
  margin: 0 auto 70px;
  width: 90%;
  max-width: 500px;
}

header h1, main h2 {
  margin-bottom: 70px;
}